body {
	font-family: 'Gilroy', sans-serif;
	font-style: normal;
	font-weight: normal;
}
h1, h2, h3, h4, h5, h6, p, a, span {
	font-family: 'Gilroy', sans-serif;
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: 'Gilroy';
	src:	url('../fonts/Gilroy Family/Gilroy-Light.eof') format('eof'),
			url('../fonts/Gilroy Family/Gilroy-Light.otf') format('otf'),
			url('../fonts/Gilroy Family/Gilroy-Light.ttf') format('ttf'),
			url('../fonts/Gilroy Family/Gilroy-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Gilroy';
	src: 	url('../fonts/Gilroy Family/Gilroy-LightItalic.eof') format('eof'),
			url('../fonts/Gilroy Family/Gilroy-LightItalic.otf') format('otf'),
			url('../fonts/Gilroy Family/Gilroy-LightItalic.ttf') format('ttf'),
			url('../fonts/Gilroy Family/Gilroy-LightItalic.woff') format('woff');
	font-weight: 300;
	font-style: italic;
}
@font-face {
	font-family: 'Gilroy';
	src: 	url('../fonts/Gilroy Family/Gilroy-Regular.eof') format('eof'),
			url('../fonts/Gilroy Family/Gilroy-Regular.otf') format('otf'),
			url('../fonts/Gilroy Family/Gilroy-Regular.ttf') format('ttf'),
			url('../fonts/Gilroy Family/Gilroy-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Gilroy';
	src: 	url('../fonts/Gilroy Family/Gilroy-RegularItalic.eof') format('eof'),
			url('../fonts/Gilroy Family/Gilroy-RegularItalic.otf') format('otf'),
			url('../fonts/Gilroy Family/Gilroy-RegularItalic.ttf') format('ttf'),
			url('../fonts/Gilroy Family/Gilroy-RegularItalic.woff') format('woff');
	font-weight: 400;
	font-style: italic;
}
@font-face {
	font-family: 'Gilroy';
	src: 	url('../fonts/Gilroy Family/Gilroy-SemiBold.eof') format('eof'),
			url('../fonts/Gilroy Family/Gilroy-SemiBold.otf') format('otf'),
			url('../fonts/Gilroy Family/Gilroy-SemiBold.ttf') format('ttf'),
			url('../fonts/Gilroy Family/Gilroy-SemiBold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'Gilroy';
	src: 	url('../fonts/Gilroy Family/Gilroy-SemiBoldItalic.eof') format('eof'),
			url('../fonts/Gilroy Family/Gilroy-SemiBoldItalic.otf') format('otf'),
			url('../fonts/Gilroy Family/Gilroy-SemiBoldItalic.ttf') format('ttf'),
			url('../fonts/Gilroy Family/Gilroy-SemiBoldItalic.woff') format('woff');
	font-weight: 600;
	font-style: italic;
}
@font-face {
	font-family: 'Gilroy';
	src: 	url('../fonts/Gilroy Family/Gilroy-Bold.eof') format('eof'),
			url('../fonts/Gilroy Family/Gilroy-Bold.otf') format('otf'),
			url('../fonts/Gilroy Family/Gilroy-Bold.ttf') format('ttf'),
			url('../fonts/Gilroy Family/Gilroy-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Gilroy';
	src:	url('../fonts/Gilroy Family/Gilroy-BoldItalic.eof') format('eof'),
			url('../fonts/Gilroy Family/Gilroy-BoldItalic.otf') format('otf'),
			url('../fonts/Gilroy Family/Gilroy-BoldItalic.ttf') format('ttf'),
			url('../fonts/Gilroy Family/Gilroy-BoldItalic.woff') format('woff');
	font-weight: 700;
	font-style: italic;
}
@font-face {
	font-family: 'Gilroy';
	src: 	url('../fonts/Gilroy Family/Gilroy-ExtraBold.eof') format('eof'),
			url('../fonts/Gilroy Family/Gilroy-ExtraBold.otf') format('otf'),
			url('../fonts/Gilroy Family/Gilroy-ExtraBold.ttf') format('ttf'),
			url('../fonts/Gilroy Family/Gilroy-ExtraBold.woff') format('woff');
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: 'Gilroy';
	src:	url('../fonts/Gilroy Family/Gilroy-ExtraBoldItalic.eof') format('eof'),
			url('../fonts/Gilroy Family/Gilroy-ExtraBoldItalic.otf') format('otf'),
			url('../fonts/Gilroy Family/Gilroy-ExtraBoldItalic.ttf') format('ttf'),
			url('../fonts/Gilroy Family/Gilroy-ExtraBoldItalic.woff') format('woff');
	font-weight: 800;
	font-style: italic;
}


.heading-text.heading-section h2:before {
	background-color: #15499F;
}


.modal-title {
	font-size: 24px!important;
	line-height: 100%!important;
}
.modal-header {
	border-bottom: 0px;
}
.modal-footer {
	margin-top: 0px;
}
body {
	&.mainMenu-open {
		overflow: hidden;
	}
}
