.breadcrumb {
	display: flex;
	flex-wrap: wrap;
	padding: 0px;
	margin: 0px;
	.breadcrumb-item {
		font-size: 24px;
		line-height: 28px;
		color: #FFFFFF;
		a {
			font-size: 24px;
			line-height: 28px;
			color: #FFFFFF;
		}
	}
	.breadcrumb-item+.breadcrumb-item::before {
		color: #fff;
	}
}
