section(class="coldplant")
	div(class="container")
		div(class='row')
			div(class="col-12 col-lg-5 pb-5 pb-lg-0" data-animate="fadeInLeft" data-animate-delay="0")
				img(class="img-fluid" src="images/coldplant.jpg" alt="img")
			div(class="col-12 col-lg-7" data-animate="fadeInRight" data-animate-delay="0")
				h2()
					| Хладокомбинат №1
				p()
					| Приветствуем вас на официальном портале предприятия «Хладокомбинат №1», одной из старейших коммерческих организаций Челябинска, предоставляющего услуги по хранению замороженных и охлажденных продуктов и полуфабрикатов. Наша компания с радостью предоставит на условиях аренды морозильные камеры, холодильные склады, офисы, а также примет товар на ответственное хранение. Расширенный спектр оказываемых нами услуг выгодно отличает нас от иных компаний, занимающихся низкотемпературным хранением в Челябинске.
				p()
					| Главной отличительной чертой хладокомбината Хладокомбината считается его удобное географическое расположение — непосредственное нахождение комплекса в центральном районе, чем не могут похвастаться другие предприятия, оказывающие подобные услуги. А ведь именно расположение хладокомбината в центре города означает максимальную близость и привлекательность для потребителя.
