<footer id="footer">
	<div class="footer-content">
		<div class="container">
			<div class="row">
				<div class="col-12 col-lg-4">
					<div class="widget">
						<div class="widget-title widget-title_big">Хладокомбинат</div>
						<p class="mb-5">Аренда складов разного типа и характеристик в Челябинске.</p>
						<a class="btn " href="#" type="button" data-toggle="modal" data-target="#modalCallback">оставить заявку</a>
					</div>
				</div>
				<div class="col-12 col-lg-8">
					<div class="row">
						<div class="col-lg-4">
							<div class="widget">
								<div class="widget-title">Услуги</div>
								<ul class="list">
									<li><a href="#">Аренда морозильных камер</a></li>
									<li><a href="#">Аренда холодильных камер</a></li>
									<li><a href="#">Аренда офисов</a></li>
									<li><a href="#">Ответственное хранение</a></li>
								</ul>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="widget">
								<div class="widget-title">Арендаторам</div>
								<ul class="list">
									<li><a href="#">Личный кабинет</a></li>
									<li><a href="#">Информация</a></li>
									<li><a href="#">Документы</a></li>
								</ul>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="widget widget_adres">
								<div class="widget-title">Контакты</div>
								<ul class="list">
									<li>Адрес: Челябинск, ул. Ленина 1</li>
									<li><a href="tel:+73512170770">Телефон: +7 351 217-07-70 </a></li>
									<li><a href="emailto:info@site.ru">E-mail: info@site.ru</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="copyright-content">
		<div class="container">
			<div class="copyright-text">
				| 2020 Хладокомбинат - политика конфиденциальности
				<a href="//www.inspiro-media.com" target="_blank" rel="noopener"> Создание и поддержка сайта DEKSIS.RU </a>
			</div>
		</div>
	</div>
</footer>
