section(class="bg_blue_opacity request-form")
	div(class="container")
		div(class="row")
			div(class="col-12"  data-animate="fadeInLeft" data-animate-delay="0")
				h2()
					| Заполните заявку
				p
					| Выберите необходимые услуги
				form(class="")
					div(class="input-collection py-4"  data-animate="fadeInLeft" data-animate-delay="100")
						label(class="input input_radio" )
							input(type="radio" name="arenda" checked)
							<span href="#">Аренда склада</span>
						label(class="input input_radio")
							input(type="radio" name="arenda")
							<span href="#">Ответственное хранение</span>
						label(class="input input_radio")
							input(type="radio" name="arenda")
							<span href="#">Аренда офиса</span>
						label(class="input input_radio")
							input(type="radio" name="arenda")
							<span href="#">Логистические услуги</span>
					<div class="pb-5">
						<input class="input input_text width-2" placeholder="Ваше имя" type="text"  data-animate="fadeInLeft" data-animate-delay="200">
						<input class="input input_text width-3" placeholder="Телефон для связи" type="tel"  data-animate="fadeInLeft" data-animate-delay="300">
						<input class="input input_text width-4" placeholder="Что хранить и сколько" type="text"  data-animate="fadeInLeft" data-animate-delay="400">
					</div>
					div(class="form__submit"  data-animate="fadeInLeft" data-animate-delay="500")
						button(class="btn btn_arrow")
							| Отправить
							i(class="fas fa-long-arrow-alt-right")
						p(class="pl-5 pt-3 pt-lg-0")
							| Наш специалист свяжется с Вами в течении 30 минут
