header(id="header" data-transparent="true" data-fullwidth="true" class="dark submenu-light")
	div(class="header-inner")
		div(class="container header__block")
			<div id="logo">
				<a href="index.html">
				<span class="logo-default">ЛОГО</span>
				<span class="logo-dark">ЛОГО</span>
				</a>
			</div>
			<div id="mainMenu-trigger">
				<a class="lines-button x"><span class="lines"></span></a>
			</div>
			div(class="d-lg-flex")
				div(id="mainMenu" class="pr-lg-5")
					div(class="container")
						nav
							ul
								<li><a href="index.html">Главная</a></li>
								<li><a href="index.html">Услуги</a></li>
								<li><a href="index.html">Информация</a></li>
								<li><a href="index.html">О компании</a></li>
								<li><a href="index.html">Партнеры</a></li>
								<li><a href="index.html">Контакты</a></li>
								<li class="d-flex align-center d-lg-none">
									div(class='header__phone-block')
										a(href="tel:+73512170770")
											| +7 (351) 217-07-70
										button(type="button" class="btn" data-toggle="modal" data-target="#modalCallback")
											| обратный звонок
									button(type="button" class="btn btn_login" data-toggle="modal" data-target="#modalLogIn")
										<i class="fas fa-user"></i>
								</li>
				div(class="d-none d-lg-flex align-center")
					div(class='header__phone-block')
						a(href="tel:+73512170770")
							| +7 (351) 217-07-70
						button(type="button" class="btn" data-toggle="modal" data-target="#modalCallback")
							| обратный звонок
					button(type="button" class="btn btn_login" data-toggle="modal" data-target="#modalLogIn")
						<i class="fas fa-user"></i>
