<section id="welcome">
	<div class="container">
		<div class="heading-text heading-section text-center m-b-40" data-animate="fadeInUp">
			<span class="lead">Наше предприятие предлагает большой спектр услуг. От хранения продукции до сдачи помещений в аренду</span>
		</div>
		div(class="row")
			div(class="col-12 col-lg-4 pb-5" data-animate="fadeInUp" data-animate-delay="0")
				div(class="d-flex align-start")
					img(src="images/icon1.png" alt="img")
					div(class="welcome__content")
						h3()
							| Аренда морозильных складов
						p
							| Низкотемпературные склады позволяют хранить любую замороженную продукцию в различной упаковке
			div(class="col-12 col-lg-4 pb-5" data-animate="fadeInUp" data-animate-delay="200")
				div(class="d-flex align-start")
					img(src="images/icon2.png" alt="img")
					div(class="welcome__content")
						h3()
							| Аренда холодильных складов
						p
							| Низкотемпературные склады позволяют хранить любую замороженную продукцию в различной упаковке
			div(class="col-12 col-lg-4 pb-5" data-animate="fadeInUp" data-animate-delay="400")
				div(class="d-flex align-start")
					img(src="images/icon3.png" alt="img")
					div(class="welcome__content")
						h3()
							| Аренда теплых складов
						p
							| Склады этого типа предназначены для хранения большого спектра товаров 
		div(class="row")
			div(class="col-12 col-lg-4 pb-5" data-animate="fadeInUp" data-animate-delay="600")
				div(class="d-flex align-start")
					img(src="images/icon4.png" alt="img")
					div(class="welcome__content")
						h3()
							| Аренда бытовых помещений
						p
							| Сдаем в аренду бытовые помещения и офисы. Удобное местоположение.
			div(class="col-12 col-lg-4 pb-5" data-animate="fadeInUp" data-animate-delay="800")
				div(class="d-flex align-start")
					img(src="images/icon5.png" alt="img")
					div(class="welcome__content")
						h3()
							| Ответственное хранение
						p
							| Мы принимаем на ответственное хранение продукты от 20 палет и более.
			div(class="col-12 col-lg-4 pb-5" data-animate="fadeInUp" data-animate-delay="1000")
				div(class="d-flex align-start")
					img(src="images/icon6.png" alt="img")
					div(class="welcome__content")
						h3()
							| Погрузочно-разгрузочные работы
						p
							| Предоставляем полный комплекс услуг по погрузке/выгрузке товаров.
	</div>
</section>
