extends base.pug
block content
	- title = "О компании"
	include components/welcome.pug
	include components/coldplant.pug
	section(class="bg_blue_opacity")
		div(class="container animated fadeIn" data-animate="fadeIn")
			div(class="row")
				div(class="col-12 pb-5")
					h2(class="text-center pb-5")
						b
							| Схема комплекса
				div(class="col-12")
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2279.730722558252!2d61.3071835160717!3d55.15299074555837!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x43c5925bc92a4267%3A0x3cb3b80930fa619b!2z0YPQuy4g0JvQtdC90LjQvdCwLCAxLCDQp9C10LvRj9Cx0LjQvdGB0LosINCn0LXQu9GP0LHQuNC90YHQutCw0Y8g0L7QsdC7LiwgNDU0OTAy!5e0!3m2!1sru!2sru!4v1591774958483!5m2!1sru!2sru" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
	section(class="digets")
		div(class="container")
			div(class="row")
				div(class="col-12 col-lg-4")
					div(class="counter text-lg")
						<span data-speed="1000" data-refresh-interval="30" data-to="70" data-from="0" data-seperator="true"></span> 
						dib()
							h3
								| лет на рынке
							p
								| С 1930 года компания воплотила в реальность большинство задуманных идей
				div(class="col-12 col-lg-4")
					div(class="counter text-lg")
						div(class="d-flex align-end")
							<span class="counter__number" data-speed="1000" data-refresh-interval="30" data-to="100" data-from="0" data-seperator="true"></span>
							p(class="counter__subtitle")
								| тыс. м2
						dib()
							h3
								| складских площадей
							p
								| Готовы предоставить большой выбор самых различных помещений
				div(class="col-12 col-lg-4")
					div(class="counter text-lg")
						<span data-speed="1000" data-refresh-interval="30" data-to="10" data-from="0" data-seperator="true"></span> 
						dib()
							h3
								| ведущих компаний
							p
								| Входим в число лидеров рынка холодильных предприятий
	section(class="gallery")
		div(class="container")
			div(class="row" data-item="grid-item" data-lightbox="gallery" )
				div(class="col-12 pb-5")
					h2(class="text-center")
						b
							| Фотогалерея
			<div class="grid-layout grid-4-columns" data-item="grid-item" data-margin="30" data-lightbox="gallery">
				- for (var i = 0; i < 8; i++)
					- var q = 100 * i;
					- q = "data-animate-delay=" + String(q);
					<div class="grid-item"  >
						<a title="Saiba Chair" data-lightbox="gallery-image" href="images/gallery1.png" data-animate="fadeInUp" #{q}>
							<img src="images/gallery1.png" alt="img">
						</a>
					</div>
			</div>
	include components/form.pug
			
					
