<!DOCTYPE html>
html(lang="ru")
	head
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(http-equiv="content-type" content="text/html; charset=utf-8")
		meta(name="author" content="INSPIRO")
		meta(name="description" content="Themeforest Template Polo, html template")
		link(rel="icon" type="image/png" href="images/favicon.png")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")

		title
			| Хладокомбинат

		link(href="css/main.min.css" rel="stylesheet")
	body
		div(class="body-inner")
			include components/header.pug
			block content
			include components/footer.pug
		<div class="modal fade" id="modalCallback" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title text-center" id="myModalLabel">Обратный звонок</h4>
					</div>
					<div class="modal-body">
						form(class="px-5")
							<input class="input input_text w-100" placeholder="Ваше имя" type="text"  >
							<input class="input input_text w-100" placeholder="Телефон" type="tel"  >
							div(class="form__submit justify-content-center"  )
								button(class="btn btn_arrow")
									| Отправить
									i(class="fas fa-long-arrow-alt-right")
					</div>
				</div>
			</div>
		</div>
		
		<div class="modal fade" id="modalLogIn" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title text-center" id="myModalLabel">Вход</h4>
					</div>
					<div class="modal-body">
						form(class="px-5")
							<input class="input input_text w-100" placeholder="Ваше имя" type="text"  >
							<input class="input input_text w-100" placeholder="Пароль" type="password"  >
							div(class="form__submit justify-content-center"  )
								button(class="btn btn_arrow")
									| Отправить
									i(class="fas fa-long-arrow-alt-right")
						div(class="d-flex justify-content-center")
							a( class="btn__register" href="#" data-toggle="modal" data-target="#modalReg")
								| регистрация
					</div>
				</div>
			</div>
		</div>
		
		
		<div class="modal fade" id="modalReg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title text-center" id="myModalLabel">Регистрация</h4>
					</div>
					<div class="modal-body">
						form(class="px-5")
							<input class="input input_text w-100" placeholder="Ваше имя" type="text"  >
							<input class="input input_text w-100" placeholder="Пароль" type="password"  >
							div(class="form__submit justify-content-center"  )
								button(class="btn btn_arrow")
									| Отправить
									i(class="fas fa-long-arrow-alt-right")
					</div>
				</div>
			</div>
		</div>
		a(id="scrollTop")
			<i class="fas fa-chevron-up"></i>
			<i class="fas fa-chevron-up"></i>
		script(src="js/library/jquery.js")
		script(src="js/library/plugins.js")
		script(src="js/library/functions.js")
		script(src="js/main.min.js")
