extends base.pug
block content
	- title = "Контакты"
	include components/welcome.pug
	section(class="")
		div(class="container animated fadeIn" data-animate="fadeIn")
			div(class="row")
				div(class="col-12 pb-5")
					h2(class="text-left")
						b
							| Контактная информация
				div(class="col-12 col-lg-4 pb-5")
					div(class="contacts__item")
						h3
							| Отдел аренды
						a(href="tel:83511234567")
							img(src="images/phone.svg" alt="img")
							b
								| 8 (351) 123-45-67
						a(href="emailto:mail@mail.ru")
							img(src="images/mail.svg" alt="img")
							b
								| mail@mail.ru
				div(class="col-12 col-lg-4 pb-5")
					div(class="contacts__item")
						h3
							| По вопросам сотрудничества
						a(href="tel:83511234567")
							img(src="images/phone.svg" alt="img")
							b
								| 8 (351) 123-45-67
						a(href="emailto:mail@mail.ru")
							img(src="images/mail.svg" alt="img")
							b
								| mail@mail.ru
				div(class="col-12 col-lg-4 pb-5")
					div(class="contacts__item")
						h3
							| По общим вопросам
						a(href="tel:83511234567")
							img(src="images/phone.svg" alt="img")
							b
								| 8 (351) 123-45-67
						a(href="emailto:mail@mail.ru")
							img(src="images/mail.svg" alt="img")
							b
								| mail@mail.ru
				div(class="col-12 py-5")
					div(class="contacts__item d-flex align-center")
						img(src="images/map.svg" alt="img")
						h3(class="pb-0 m-0 pl-3")
							| Челябинск, пр. Ленина 27/6
				div(class="col-12")
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2279.730722558252!2d61.3071835160717!3d55.15299074555837!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x43c5925bc92a4267%3A0x3cb3b80930fa619b!2z0YPQuy4g0JvQtdC90LjQvdCwLCAxLCDQp9C10LvRj9Cx0LjQvdGB0LosINCn0LXQu9GP0LHQuNC90YHQutCw0Y8g0L7QsdC7LiwgNDU0OTAy!5e0!3m2!1sru!2sru!4v1591774958483!5m2!1sru!2sru" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
	include components/form.pug
			
					
