extends base.pug
block content
	section(class="welcome welcome_first")
		div(class="container")
			div(class="row")
				div(class="col-12 welcome__content")
					h1()
						| Хладокомбинат №1 - аренда моризильных и холодильных камер
					p
						| Хладокомбинат №1 в Челябинске предлагает в аренду морозильные и холодильные камеры
					button(type="button" class="btn" data-toggle="modal" data-target="#modalCallback")
						| оставить заявку
	include components/services.pug 
	section(class="plan")
		div(class="container")
			div(class="row")
				div(class="col-12 ")
					<div class="heading-text heading-section text-center m-b-40" data-animate="fadeInUp">
						<h2>План комплекса <b>“Хладокомбинат№1”</b></h2>
					</div>
				div(class="col-12 col-lg-8 pb-5 pb-lg-0")
					img(class="img-fluid" src="images/plan.jpg" alt="img")
				div(class="col-12 col-lg-4")
					div(class="plan__item")
						span(class="plan__number")
							| 1
						span(class="plan__title")
							| Удобное местоположение
						span(class="plan__description")
							| Хладокомбинат расположен на перечении дорог развитая инфраструктура.
					div(class="plan__item")
						span(class="plan__number")
							| 2
						span(class="plan__title")
							| Большие склады
						span(class="plan__description")
							| Более 250 складских помещений разного типа и площади, доступ 24/7
					div(class="plan__item")
						span(class="plan__number")
							| 3
						span(class="plan__title")
							| Оптимизированная территория
						span(class="plan__description")
							| Территория оптимизирована под движение большегрузных машин имеется железнодорожный тупик
	<section class="p-t-60">
		<div class="container">
			<div class="heading-text heading-section text-center">
				<h2><b>Клиенты</b></h2>
				<span class="lead">Нашими клиенты</span>
			</div>
			<div class="carousel client-logos" data-items="6" data-items-sm="4" data-items-xs="3" data-items-xxs="2" data-margin="20" data-arrows="false" data-autoplay="true" data-autoplay="3000" data-loop="true">
				<div>
					<a href="#"><img alt="" src="images/logo-footer 3.png"> </a>
				</div>
				<div>
					<a href="#"><img alt="" src="images/logo-footer 3.png"> </a>
				</div>
				<div>
					<a href="#"><img alt="" src="images/logo-footer 3.png"> </a>
				</div>
				<div>
					<a href="#"><img alt="" src="images/logo-footer 3.png"> </a>
				</div>
				<div>
					<a href="#"><img alt="" src="images/logo-footer 3.png"> </a>
				</div>
				<div>
					<a href="#"><img alt="" src="images/logo-footer 3.png"> </a>
				</div>
				<div>
					<a href="#"><img alt="" src="images/logo-footer 3.png"> </a>
				</div>
				<div>
					<a href="#"><img alt="" src="images/logo-footer 3.png"> </a>
				</div>
				<div>
					<a href="#"><img alt="" src="images/logo-footer 3.png"> </a>
				</div>
			</div>
		</div>
	</section>
	
	
	
	<section class="content background-grey" >
		<div class="container">
			<div class="heading-text heading-section">
				<h2><b>Новости и события</b></h2>
				<span class="lead text-dark">Последние события и новости нашей компании.</span>
			</div>
			<div id="blog" class="grid-layout post-4-columns m-b-30" data-item="post-item" data-animate="fadeInUp" data-animate-delay="200">
				<div class="post-item border">
					<div class="post-item-wrap">
						<div class="post-image">
							<a href="#">
								<img alt="" src="images/6614661958479303_333c 1.jpg">
							</a>	
						</div>
						<div class="post-item-description">
							<span class="post-meta-date"><i class="fa fa-calendar-o"></i>21.05.2020</span>
							<h2>
								<a href="#">Режим работы хладокомбината в праздники</a>
							</h2>
							<p>Режим работы терминалов в праздники и выходные дни</p>
							<a href="#" class="item-link">подробнее</a>
						</div>
					</div>
				</div>
				
				<div class="post-item border" >
					<div class="post-item-wrap">
						<div class="post-image">
							<a href="#">
								<img alt="" src="images/6614661958479303_333c 1.jpg">
							</a>	
						</div>
						<div class="post-item-description">
							<span class="post-meta-date"><i class="fa fa-calendar-o"></i>21.05.2020</span>
							<h2>
								<a href="#">Режим работы хладокомбината в праздники</a>
							</h2>
							<p>Режим работы терминалов в праздники и выходные дни</p>
							<a href="#" class="item-link">подробнее</a>
						</div>
					</div>
				</div>
				
				<div class="post-item border">
					<div class="post-item-wrap">
						<div class="post-image">
							<a href="#">
								<img alt="" src="images/6614661958479303_333c 1.jpg">
							</a>	
						</div>
						<div class="post-item-description">
							<span class="post-meta-date"><i class="fa fa-calendar-o"></i>21.05.2020</span>
							<h2>
								<a href="#">Режим работы хладокомбината в праздники</a>
							</h2>
							<p>Режим работы терминалов в праздники и выходные дни</p>
							<a href="#" class="item-link">подробнее</a>
						</div>
					</div>
				</div>
				
				<div class="post-item border">
					<div class="post-item-wrap">
						<div class="post-image">
							<a href="#">
								<img alt="" src="images/6614661958479303_333c 1.jpg">
							</a>	
						</div>
						<div class="post-item-description">
							<span class="post-meta-date"><i class="fa fa-calendar-o"></i>21.05.2020</span>
							<h2>
								<a href="#">Режим работы хладокомбината в праздники</a>
							</h2>
							<p>Режим работы терминалов в праздники и выходные дни</p>
							<a href="#" class="item-link">подробнее</a>
						</div>
					</div>
				</div>
				
				
			</div>
		</div>
	</section>
	include components/coldplant.pug
