extends base.pug
block content
	- title = "Контакты"
	include components/welcome.pug
	section(class="info")
		div(class="container animated fadeIn" data-animate="fadeIn")
			div(class="row")
				div(class="col-6 col-lg-3 pb-5")
					div(class="info__item")
						img(src="images/qqqq.svg" alt="img")
						span
							| Характеристики складов
				div(class="col-6 col-lg-3 pb-5")
					div(class="info__item")
						img(src="images/qqqq.svg" alt="img")
						span
							| Инфраструктура
				div(class="col-6 col-lg-3 pb-5")
					div(class="info__item")
						img(src="images/qqqq.svg" alt="img")
						span
							| Документация
				div(class="col-6 col-lg-3 pb-5")
					div(class="info__item")
						img(src="images/qqqq.svg" alt="img")
						span
							| Галерея
							
				div(class="col-6 col-lg-3 pb-5")
					div(class="info__item")
						img(src="images/qqqq.svg" alt="img")
						span
							| Вакансии
				div(class="col-6 col-lg-3 pb-5")
					div(class="info__item")
						img(src="images/qqqq.svg" alt="img")
						span
							| Охрана труда и ТБ
				div(class="col-6 col-lg-3 pb-5")
					div(class="info__item")
						img(src="images/qqqq.svg" alt="img")
						span
							| Пожарная безопасность
				div(class="col-6 col-lg-3 pb-5")
					div(class="info__item")
						img(src="images/qqqq.svg" alt="img")
						span
							| Вопрос-ответ
	include components/form.pug
			
					
