extends base.pug
block content
	- title = "Аренда морозильных складов"
	include components/welcome.pug
	section(class="coldplant")
		div(class="container")
			div(class='row')
				div(class="col-12 col-lg-5 pb-5 pb-lg-0" data-animate="fadeInLeft" data-animate-delay="0")
					img(class="img-fluid" src="images/plan_2.jpg" alt="img")
				div(class="col-12 col-lg-7" data-animate="fadeInRight" data-animate-delay="0")
					h2(class="coldplant_text_min")
						| Аренда морозильных складов в Челябинске
					p()
						| Выбор площадей для аренды морозильных камер — это ответственное решение, так как товар прибывает на одной локации на протяжении длительного периода. Если температурные условия или показатели влажности были не соблюдены, вероятна потеря большой части товара и возможный вред здоровью конечного потребителя. Команда Хладокомбината №1 понимает проблемы, с которыми сталкиваются производители мясоной продукции, полуфабрикатов, мороженного, ягод и фруктов, поэтому берет на себя полную ответственность за качество условий хранения.
					p()
						| Аренда морозильных камер у нас — это комплексная услуга, которая включает в себя консультации логистики, помощь в доставке товара до камеры и конечных точек, погрузке и выгрузке товара, а также подготовке продукции.
	section(class="bg_blue_opacity")
		div(class="container")
			div(class="row")
				div(class="col-12 pb-5")
					h2(class="text-center")
						b()
							| Особенности аренды морозильных складов
			<div class="row justify-content-center">
				<div class="col-lg-6 animated flipInY visible" data-animate="flipInY" data-animate-delay="100">
					<div class="icon-box effect small clean">
						<div class="icon">
							img(src="images/refrigerator.svg" alt="img")
						</div>
						<h3>Только экологичное оборудование</h3>
						<p>На наших складах для охлаждения камер мы используем фреон. В отличии от камер советского образца, мы не используем амиак для охлаждения продукции.</p>
					</div>
				</div>
				
				<div class="col-lg-6 animated flipInY visible" data-animate="flipInY" data-animate-delay="100">
					<div class="icon-box effect small clean">
						<div class="icon">
							img(src="images/thermometer.svg" alt="img")
						</div>
						<h3>Гибкая регулировка температуры</h3>
						<p>Персонализированный режим от +6 до -25 градусов по цельсию, камеры оснащены четырехкратной приточно-вытяжная системой</p>
					</div>
				</div>
				
				<div class="col-lg-6 animated flipInY visible" data-animate="flipInY" data-animate-delay="100">
					<div class="icon-box effect small clean">
						<div class="icon">
							img(src="images/methodology.svg" alt="img")
						</div>
						<h3>Полный цикл услуг</h3>
						<p>Сотрудничество с нами включает завоз, вывоз, подготовку, хранение, и доставку продукции.</p>
					</div>
				</div>
				
				<div class="col-lg-6 animated flipInY visible" data-animate="flipInY" data-animate-delay="100">
					<div class="icon-box effect small clean">
						<div class="icon">
							img(src="images/Group.svg" alt="img")
						</div>
						<h3>Централизованная система пожаротушения</h3>
						<p>Наши огнетушители подают огнетушительное вещество в любой отсек комплекса</p>
					</div>
				</div>
				
				<div class="col-lg-6 animated flipInY visible" data-animate="flipInY" data-animate-delay="100">
					<div class="icon-box effect small clean">
						<div class="icon">
							img(src="images/clock.svg" alt="img")
						</div>
						<h3>Работаем 24/7</h3>
						<p>Клиенты могут посетить комплекс в любой момент</p>
					</div>
				</div>
				
				<div class="col-lg-6 animated flipInY visible" data-animate="flipInY" data-animate-delay="100">
					<div class="icon-box effect small clean">
						<div class="icon">
							img(src="images/refrigerator2.svg" alt="img")
						</div>
						<h3>Круглосуточная охрана</h3>
						<p>На территории комплекса ведется видеосъемка 24/7</p>
					</div>
				</div>
				
				<div class="col-lg-6 animated flipInY visible" data-animate="flipInY" data-animate-delay="100">
					<div class="icon-box effect small clean">
						<div class="icon">
							img(src="images/furniture.svg" alt="img")
						</div>
						<h3>Офисы рядом</h3>
						<p>Наши клиенты могут снять офис и склад в одном месте — аренда на территории комплекса.</p>
					</div>
				</div>
			</div>
	section(class="coll-tab")
		div(class="container")
			div(class="row")
				<div class="col-12">
					<ul class="nav nav-tabs">
						<li class="nav-item">
							<a class="nav-link active" data-toggle="tab" href="#tab_1">
								img(src="images/location1.svg" alt="img")
								span
									| Схема<br>склада
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" data-toggle="tab" href="#tab_2">
								img(src="images/factory1.svg" alt="img")
								span 
									| Ответсвенное<br>хранение
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" data-toggle="tab" href="#tab_3">
								img(src="images/truck1.svg" alt="img")
								span
									| Логистические<br>услуги
							</a>
						</li>
					</ul>
					<div class="tab-content">
						<div class="tab-pane fade show active" id="tab_1">
							div(class="row align-items-center py-5")
								div(class="col-12 col-lg-4")
									img(class="img-fluid" src="images/1-__1041.jpg" alt="img")
								div(class="col-12 col-lg-8")
									p
										| Удобная локация — наши склады размещены в центре города и оснащены 3 выездами на разыне стороноы. Таким образом, наши клиенты могут оперативно завезти и распределить товар, доставить замороженную продукцию в торговую точку и быстро транспортировать его конечному потребителю.
						</div>
						<div class="tab-pane fade" id="tab_2">
							| Ответсвенное хранение
						</div>
						<div class="tab-pane fade" id="tab_3">
							| Логистические услуги
						</div>
					</div>
				</div>
	include components/form.pug
