/* INCLUD SASS */
@import "library/plugins.css";
@import "library/style.css";

@import "default/_default";
@import "header/_header";
@import "footer/_footer";
@import "breadcrumb/_breadcrumb";




.welcome {
	height: 340px;
	position: relative;
	background:  linear-gradient(0deg, rgba(21, 73, 159, 0.75), rgba(21, 73, 159, 0.75)) , url("../images/welcome.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	top: -80px;
	margin-bottom: -80px;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	h1 {
		font-family: Gilroy;
		font-weight: bold;
		font-size: 48px;
		line-height: 58px;
		color: #FFFFFF;
		text-align: center;
		padding-bottom: 28px;

		margin: 0px;
		width: 120%;

		@media(max-width: 991px) {
			font-size: 32px;
			line-height: 100%;
		}
	}

	.welcome__content {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		p {
			font-family: Gilroy;
			font-size: 18px;
			line-height: 21px;
			text-align: center;
			color: #FFFFFF;
			padding-bottom: 80px;
		}
	}
	&.welcome_first {
		background:  linear-gradient(180deg, #15499F 0%, rgba(255, 255, 255, 0) 100%), url("../images/welcome.jpg");
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;

		height: 100vh;
		h1 {
			font-size: 64px;
			line-height: 77px;
			@media (max-width: 1400px) {
				width: 100%;
			}
			@media (max-width: 1200px) {
				font-size: 36px;
				line-height: 120%;
			}
			@media(max-width: 991px) {
				font-size: 32px;
				line-height: 100%;
			}
		}
	}
}
.welcome__content {
	padding-left: 15px;
	h3 {
		margin: 0px;
		font-weight: bold;
		font-size: 17px;
		line-height: 22px;
		color: #000000;
		padding-bottom: 15px;
	}
	p {
		margin: 0px;
		font-size: 14px;
		line-height: 16px;
		color: #8B8B8B;
	}
}














.plan {
	background-color: #15499F;
	padding: 46px 0 30px 0px;
	.heading-text.heading-section h2:before {
		background-color: #fff;
	}
	h2 {
		margin-bottom: 100px!important;
		color: #fff;
		@media (max-width: 991px) {
			margin-bottom: 45px!important;
			font-size: 32px!important;
			line-height: 100%!important;
		}
	}

	.plan__item {
		display: flex;
		flex-direction: column;
		align-items: flex-start;

		padding-bottom: 14px;
		&:last-child {
			padding: 0px;
		}
	}
	.plan__number {
		width: 48px;
		height: 48px;
		font-weight: 900;
		font-size: 36px;
		line-height: 45px;
		color: #FFFFFF;

		border: 2px solid #fff;
		border-radius: 100%;

		display: flex;
		justify-content: center;
		align-items: center;

		margin-bottom: 10px;
	}
	.plan__title {
		font-weight: bold;
		font-size: 18px;
		line-height: 22px;
		color: #FFFFFF;

		margin-bottom: 10px;
	}
	.plan__description {
		font-size: 16px;
		line-height: 19px;
		color: #FFFFFF;
	}
}





#welcome {
	padding-bottom: 80px;
	@media (max-width: 991px) {
		padding-bottom: 50px;
	}
}




.post-item.border>.post-item-wrap>.post-item-description {
	padding: 12px!important;

	.item-link {
		text-transform: none!important;
		letter-spacing: 0px;
		&:hover {
			color: #15499F;
		}
	}
}
.post-item .post-item-description .post-meta-date {
	font-weight: bold;
	color: #C4C4C4;
	top: 0px;
	padding-bottom: 14px;
	display: block;
	line-height: 15px;
}
.post-item .post-item-description>h2,
.post-item .post-item-description>h2>a {
	font-weight: bold;
	font-size: 16px;
	line-height: 19px;
	color: #000000;
	&:hover {
		color: #15499F;
	}
}
.post-item .post-item-description {
	p {
		font-size: 14px;
		line-height: 16px;
		color: #737373;
	}
}
.item-link {
	font-family: Gilroy;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	color: #000000;
}





.coldplant {
	padding: 50px 0px;
	h2 {
		font-weight: bold;
		font-size: 48px;
		line-height: 58px;
		color: #000000;
		@media (max-width: 991px) {
			font-size: 26px;
			line-height: 100%;
		}
	}
	p {
		font-size: 16px;
		line-height: 19px;
		color: #000000;
	}
}
.coldplant_text_min {
	font-weight: bold;
	font-size: 24px!important;
	line-height: 29px!important;
	color: #000000;
}




.copyright-text {
	display: flex;
	justify-content: space-between;
	align-items: center;

	font-weight: bold;
	font-size: 14px;
	line-height: 17px;
	color: #737373;

	a {
		font-weight: bold;
		font-size: 14px!important;
		line-height: 17px!important;
		color: #000000!important;
	}
}




#footer {
	.footer-content {
		.widget {
			.widget-title {
				font-weight: bold;
				font-size: 18px;
				line-height: 22px;
				color: #000000;
				text-transform: none;

				&.widget-title_big {
					font-size: 24px;
					line-height: 29px;
					text-transform: uppercase;
				}
			}
			p {
				font-size: 18px;
				line-height: 21px;
				color: #000000;
			}
		}
	}
	a:not(.btn):not(:hover) {
		font-weight: bold;
		font-size: 14px;
		line-height: 17px;
		color: #8B8B8B;
	}
	a:not(.btn):not(.badge):active,
	a:not(.btn):not(.badge):focus,
	a:not(.btn):not(.badge):hover {
		line-height: 17px;

		color: #15499f;
		font-weight: bold;
	}
}



.icon-box {
	h3 {
		font-weight: bold;
		font-size: 16px!important;
		line-height: 19px!important;
		color: #333333;
		padding-bottom: 10px;
		margin: 0px;
	}
	p {
		font-size: 16px!important;
		line-height: 19px!important;
		color: #000000;
	}
}


.coll-tab {
	padding: 40px 0 120px 0;
	.nav-tabs {
		border-bottom: 4px solid #15499F;
		.nav-item {
			margin: 0px;
		}
		.nav-link {
			padding: 30px 20px;
			display: flex;
			justify-content: space-between;
			align-items: center;

			transition: 0.3s;
			border: 0px;
			border-radius: 0px;
			span {
				padding-left: 10px;
				font-size: 18px;
				line-height: 22px;
				transition: 0.3s;
				color: #000000;
			}
			&.active {
				background-color: #EBF8FF;
				transition: 0.3s;

				span {
					transition: 0.3s;
					font-weight: bold;
					text-decoration-line: underline;

				}
			}
			&:hover {
				span {
					color: #000000!important;
				}
			}
		}
	}
	.tab-content {
		p {
			font-size: 18px;
			line-height: 21px;
			color: #000000;
		}
	}
	@media (max-width: 991px) {
		padding-bottom: 50px;
	}
}




.request-form {
	h2 {
		margin: 0px;
		font-weight: bold;
		font-size: 24px;
		line-height: 29px;
		color: #000000;
		padding-bottom: 6px;
	}
	p {
		font-size: 18px;
		line-height: 21px;
		color: #000000;
	}
}





.digets {
	.counter {
		display: flex;
		flex-direction: column;

		font-weight: 900;
		font-size: 72px;
		line-height: 90px;
		color: #15499F;

		h3 {
			font-weight: bold;
			font-size: 24px;
			line-height: 29px;
			color: #000000;
		}
		p {
			font-weight: normal;
			font-size: 16px;
			line-height: 19px;
			color: #000000;
		}
	}
}
.counter__number {
	min-width: 84px;
}
.counter__subtitle {
	font-weight: 900!important;
	font-size: 38px!important;
	line-height: 100%!important;
	color: #15499F!important;
	margin: 0px;
}




.gallery {
	padding-bottom: 160px;
	@media (max-width: 991px) {
		padding-bottom: 60px;
	}
}





.contacts__item {
	h3 {
		font-weight: normal;
		font-size: 18px;
		line-height: 21px;
		color: #000000;

		margin: 0px;
		padding-bottom: 20px;
	}
	a {
		display: block;
		margin-bottom: 20px;

		font-size: 18px;
		line-height: 22px;
		color: #000000;

		display: flex;
		align-items: center;
		img {
			padding-right: 15px;
		}
		&:last-child {
			margin: 0px;
		}
		&:hover {
			color: #15499F!important;
		}
	}
}


.info {

}
.info__item {
	display: flex;
	flex-direction: column;
	align-items: flex-start;


	font-size: 18px;
	line-height: 22px;
	color: #000000;
	span {
		font-weight: bold!important;
	}

	img {
		padding-bottom: 10px;
	}
}


.grid-item {
	img {
		transition: 0.3s;
	}
	&:hover {
		img {
			transform: scale(0.9);
			transition: 0.3s;
		}
	}
}
.input-collection {

}
.form__submit {
	display: flex;
	align-items: center;
	@media (max-width: 991px) {
		flex-direction: column;
		p {
			padding-left: 0px!important;
		}
	}
}
.input {

	cursor: pointer;
	margin-right: 25px;
	span {
		display: block;
	}
	&.input_radio {
		position: relative;

		&:before {
			content: "";
			display: block;
			position: absolute;
			width: 10px;
			height: 10px;
			border: 1px solid #15499f;
			border-radius: 100%;
			background-color: #ebf8ff;
			left: 7px;
			top: calc(50% - 5px);
		}
		input {
			display: none;
		}
		span {
			font-size: 14px;
			line-height: 16px;
			background: #FFFFFF;
			border: 1px solid #15499F;
			padding: 8px 12px 8px 22px;
			transition: 0.3s;
		}
		input:checked + span {
			color: #fff;
			background-color: #15499F;
			transition: 0.3s;
		}
	}
	&.input_text {
		display: block;
		width: 100%;

		cursor: unset;

		margin-righT: 0px;
		margin-bottom: 25px;

		font-family: Gilroy;
		font-style: normal;
		font-weight: normal;
		font-size: 16px!important;
		line-height: 19px!important;
		color: #8B8B8B!important;

		padding: 8px 0px!important;

		background: none;
		border: 0px;
		border-bottom: 1px solid #15499F;
		&:last-child {
			margin: 0px;
		}
		&:focus {
			outline: none;
		}
		&.width-2 {
			max-width: 16.666667%;
		}
		&.width-3 {
			max-width: 25%;
		}
		&.width-4 {
			max-width: 33.333333%;
		}
		@media (max-width: 991px) {
			max-width: 100%!important;
		}
	}
}
.bg_blue_opacity {
	background-color: #EBF8FF;
}
.lead {
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	color: #7B7B7B;
}
.btn:not(.close):not(.mfp-close),
button.btn, a.btn {
	background: #15499F;
	border-radius: 0px;
	border: 0px;

	padding: 10px 50px;

	font-family: Gilroy;
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	text-align: center;
	color: #FFFFFF;
	text-transform: none;

	&.btn_arrow {
		display: flex;
		justify-content: space-between;
		align-items: center;

		i {
			margin-left: 28px;
		}
		&:hover {
			i {
				transform: translateX(50%);
				transition: 0.3s;
			}
		}
	}
}
.d-flex {
	display: flex;
}
.align-start { align-items: flex-start; }
.align-end { align-items: flex-end; }
.align-center {
	align-items: center;
}

.btn:not(.close):not(.mfp-close):not(.btn-creative):not(.btn-slide), a.btn:not([href]):not([tabindex]):not(.btn-creative):not(.btn-slide), button.btn:not(.btn-creative):not(.btn-slide) {
	@media (max-width: 1024px) {
		padding: 10px 50px;
		font-size: 18px;
		line-height: 22px;
		height: unset;
	}
}
