.header__block {
	display: flex;
	justify-content: space-between;
	align-items: center;


	@media (max-width: 991px) {
		display: block;
	}
}
#mainMenu nav {
	float: unset;
}
.header__phone-block {
	display: flex;
	flex-direction: column;
	align-items: flex-end;

	padding-right: 35px;
	a {
		font-weight: bold;
		font-size: 16px;
		line-height: 19px;
		color: #000;
		transition: 0.3s;

		&:hover {
			color: #e2e2e2!important;
			transition: 0.3s;
		}
	}
	.btn {
		background: none!important;
		border: 0px!important;
		padding: 0px!important;
		border-radius: 0px!important;
		margin: 0px!important;

		font-size: 10px!important;
		line-height: 14px!important;
		border-bottom: 1px solid #000!important;
		color: #000!important;
		transition: 0.3s;
		&:hover {
			color: #e2e2e2!important;
			transition: 0.3s;
		}
	}
	@media (max-width: 991px) {
		padding-top: 20px;
		align-items: flex-start;
	}
}

.btn_login {
	margin: 0px!important;
	background: none!important;
	border: 0px!important;
	padding: 0px!important;
	border-radius: 0px!important;

	font-size: 24px!important;
	color: #000!important;
	transition: 0.3s;
	&:hover {
		color: #e2e2e2!important;
		transition: 0.3s;
	}
}

.dark {
	.header__phone-block {
		a {
			color: #fff;
		}
		.btn {
			color:#fff!important;
			border-bottom: 1px solid #fff!important;
			&:hover {
				color: #e2e2e2!important;
				transition: 0.3s;
			}
		}
	}
	.btn_login {
		color: #fff!important;
		&:hover {
			color: #e2e2e2!important;
			transition: 0.3s;
		}
	}
}


.mainMenu-open #header #mainMenu {
	@media (max-width: 1024px) {
		overflow-y: auto;
	}
}
